/* You can add global styles to this file, and also import other style files */
.spacing {
  margin-right: 20px;
}

.active, .active:focus {
  color: red;
}
.top-heroes-container{
  text-align: center;
}
