.hero-brief {
  margin-bottom: 15px;
  border-radius: 4px;
}
.hero-brief:first-child {
  margin-top: 15px;
}

.list-active{
  background-color: lightblue;
}
.hero-name {
  padding-left: 20px;
}
.badge {
  background-color: cadetblue;
}
.close-icon {

}
